@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #000;
}

html,
body {
  @apply h-full bg-white;
}

.rankingNumber {
  position: relative;
  top: 5px;
  left: 5px;
  background-color: #eee;
  padding: 5px;
  border-radius: 100%;
  width: 33px;
  height: 33px;
}

.editColor {
  position: relative;
  top: 0px;
  right: 0px;
  background-color: #eee;
  padding: 5px;
  width: 33px;
  height: 33px;
  border-top-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.grabme {
  width: 15px;
  display: inline-block;
}
